@tailwind base;

/* Write your own custom base styles here */

/* Your own custom utilities */
@font-face {
  font-family: Inria Sans;
  src: url("/assets/fonts/InriaSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: optional;
}
@font-face {
  font-family: Inria Sans;
  src: url("/assets/fonts/InriaSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
  font-display: optional;
}
@font-face {
  font-family: Inria Sans;
  src: url("/assets/fonts/InriaSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}
@font-face {
  font-family: Inria Sans;
  src: url("/assets/fonts/InriaSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: optional;
}
@font-face {
  font-family: Inria Sans;
  src: url("/assets/fonts/InriaSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
}
@font-face {
  font-family: Inria Sans;
  src: url("/assets/fonts/InriaSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: optional;
}

.dash-separator:not(:last-child):after {
  content: " – ";
}

[data-reach-skip-link] {
  @apply text-gray-900 font-bold text-lg;
}

[data-reach-skip-link]:focus {
  @apply outline-none shadow-outline rounded border-gray-700 border-2 border-dotted bg-gray-50;
}

@screen sm {
[data-reach-skip-link] {
    @apply text-xl;
  }
}

@screen md {
[data-reach-skip-link] {
    @apply text-2xl rounded-md;
  }
}

@screen lg {
[data-reach-skip-link] {
    @apply text-3xl;
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
