@import './bootstrap-reboot.css';
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Work Sans Light'), local('WorkSans-Light'),
       url('~/assets/fonts/work-sans-v3-latin-300.woff2') format('woff2'),
       url('~/assets/fonts/work-sans-v3-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('~/assets/fonts/work-sans-v3-latin-700.woff2') format('woff2'),
       url('~/assets/fonts/work-sans-v3-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Josefin Sans Bold '),
    local('Josefin Sans-Bold'),
    url('~/assets/fonts/josefin-sans-latin-700.woff2') format('woff2'),
    url('~/assets/fonts/josefin-sans-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Josefin Sans Light italic'),
    local('Josefin Sans-Lightitalic'),
    url('~/assets/fonts/josefin-sans-latin-300italic.woff2') format('woff2'),
    url('~/assets/fonts/josefin-sans-latin-300italic.woff') format('woff');
}
html {
  font-size: 16px;
}
body {
  font-family: "Work Sans", system-ui;
  font-weight: 300;
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ced4da' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-position-y: 0;
	background-repeat: repeat;
	animation: animatedBackground 20s ease-in-out;
}
ul {
  padding-left: 20px;
  margin: 0;
}
main {
  margin-top: 25px;
  margin-bottom: 25px;
}
main a {
  color: #212529;
}
section, footer {
  padding: 25px;
  border-top: 2px solid #212529;
  background-color: #fff;
}
section {
  border-bottom: 2px solid #212529;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3, dt {
  font-size: 1.5rem;
}
h1,
h2,
h3,
dt {
  font-family: "Josefin Sans", system-ui;
  font-weight: 700;
}
strong {
  font-weight: 700;
}
dl, p, address, h2, .h2 {
  margin-bottom: 0;
}
hr {
  border: none;
  border-bottom: 2px solid #212529;
}
.email, .projects, main a {
  font-weight: 700;
  box-shadow: 0 0 #0fcc83;
  transition: color .2s, box-shadow .2s, text-shadow .2s;
}
.email {
  color: #0fcc83;
}
.icons .projects {
  color: #f9f9f9;
  text-transform: uppercase;
}
.icons-sm .projects {
  color: #212529;
  text-transform: uppercase;
}
.email:hover, .email:focus, .projects:hover, .projects:focus, main a:hover, main a:focus {
  font-weight: 700;
  color: #0fcc83;
  box-shadow: 0 4px #0fcc83;
  text-decoration: none;
}
.green {
  color: #0fcc83;
}
em {
  font-weight: 300;
}
nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  color: #f9f9f9;
  line-height: 76px;
  background-image: url('~/assets/images/chalkboard.jpg');
  background-color: #212529;
  & h1 {
    margin-bottom: -0.6rem;
  }
}
.icons a svg, .icons-sm a svg {
  display: flex;
  fill: #f9f9f9;
  width: 30px;
  height: 30px;
  transition: fill .2s;
}
.icons-sm a svg {
  fill: #212529;
}
.icons a:not(:last-child) {
  margin-right: 25px;
}
.icons-sm a:not(:last-child) {
  margin-right: 10px;
}
.icons-sm {
  display: flex;
  align-content: center;
  margin-top: 10px;
}
.icons {
  display: none;
}
.icons-sm a:hover svg, .icons a:hover svg {
  fill: #0fcc83;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  nav {
    margin-top: 25px;
  }
  section, footer {
  border: 2px solid #212529;
  }
  .icons-sm {
    display: none;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .container {
    max-width: 960px;
  }
  .icons a svg {
    width: 45px;
    height: 45px;
  }
  .icons a svg:not(:last-child) {
    margin-right: 36px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 1840px;
  }
}
@keyframes animatedBackground {
	to { background-position-y: 500%; }
}
