:root {
  --body-font-family: 'skolar-sans-latin', system-ui;
  --bright-green: #0fcc83;
  --dark-green: #18865c;
  --dark-gray: #212529;
  --light-gray: #f9f9f9;
  --gray: #6b6f6d;
}
/*
 * nuxt page transitions
 * https://vuejs.org/v2/guide/transitions.html
 *
*/
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}
.page-leave-to,
.page-enter {
  transform: scale(0.98);
  opacity: 0;
}
html {
  font-size: 16px;
  /* bootstrap resets */
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  /* bootstrap resets end */
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
html.wf-active > body {
  font-family: var(--body-font-family);
}
body {
  font-family: system-ui;
  color: var(--dark-gray);
  font-weight: 400;
  background-color: var(--light-gray);
  /* bootstrap resets */
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  /* bootstrap resets end */
}
li,
p {
  line-height: 1.8;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  /* bootstrap resets */
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
p {
  margin: 0;
}
address {
  margin-bottom: 0;
  /* bootstrap resets */
  font-style: normal;
  line-height: inherit;
}
/* grayscale img if no alt tag */
img:not([alt]) {
  filter: grayscale(100%);
}
/* bootstrap resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[tabindex='-1']:focus {
  outline: 0 !important;
}
small {
  font-size: 80%;
}
/* bootstrap resets end */
