@import 'bootstrap/dist/css/bootstrap-reboot.css';
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    local('Josefin Sans Bold '),
    local('Josefin Sans-Bold'),
    url('~/assets/fonts/josefin-sans-latin-700.woff2') format('woff2'),
    url('~/assets/fonts/josefin-sans-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-display: block;
  font-weight: 300;
  src:
    local('Josefin Sans Light italic'),
    local('Josefin Sans-Lightitalic'),
    url('~/assets/fonts/josefin-sans-latin-300italic.woff2') format('woff2'),
    url('~/assets/fonts/josefin-sans-latin-300italic.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local('Work Sans Regular '),
    local('Work Sans-Regular'),
    url('~/assets/fonts/work-sans-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('~/assets/fonts/work-sans-latin-300.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    local('Work Sans Bold '),
    local('Work Sans-Bold'),
    url('~/assets/fonts/work-sans-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('~/assets/fonts/work-sans-latin-700.woff') format('woff'); /* Modern Browsers */
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Work Sans', system-ui;
  font-weight: 300;
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ced4da' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-position-y: 0;
	background-repeat: repeat;
	animation: animatedBackground 20s ease-in-out;
}
main {
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
section {
  padding: 25px;
  border: 2px dotted #212529;
  background-color: #fff;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  main {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 2rem;
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 2.8rem;
  }
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 1840px;
  }
}
h1,
.h1 {
  font-size: 2.5em;
}

h2,
.h2 {
  font-size: 2em;
}

h3,
.h3 {
  font-size: 1.5em;
}
h1,
h2,
h3 {
  font-family: 'Josefin Sans', system-ui;
  font-weight: 700;
}
strong {
  font-weight: 700;
}
dl {
  margin-bottom: 0;
}
hr {
  border: none;
  border-bottom: 2px dotted #212529;
}
a {
  color: #212529;
  font-weight: 700;
  box-shadow: 0 0 #212529;
  transition: color .3s, box-shadow .3s;
}
a:hover {
  color: orange;
  box-shadow: 0 3px orange;
  text-decoration: none;
  font-weight: 700;
}
@keyframes animatedBackground {
	to { background-position-y: 100%; }
}