@import '../styles/theme.scss';

.horizontal-rule {
  // bootstrap resets
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  // bootstrap resets end

  border: none;
  border-bottom: 2px dotted $color-gray-700;
}
